@import url(./rest.css);
@import url(./root.css);
.products-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    margin-bottom: 3em;
}
.products-header-text p{
    opacity: 0.7;
}
.products-header-text .colored-title {
    color: var(--main-color);
}
.products-header-list{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.425rem;
}
.products-header-list h3{
    font-size: 1.25rem;
    cursor: pointer;
}
.products-header-list .active{
    color: var(--main-color);
}
.products-container {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}
.product-card {
    width: calc((100% - 7rem) / 4);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}
.card-img-container{
    height: 40vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.4s;
}
.card-img-hover-icons{
    width: 90%;
    margin: auto;
    position: absolute;
    bottom: -3em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    transition: .4s;
}
.product-card:hover .card-img-hover-icons{
    bottom: 1em;
}
.product-card:hover img{
    scale: 1.1;
}
.card-img-hover-icons .icon {
    width: 2.3em;
    height: 2.3em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: .3em;
    cursor: pointer;
}
.card-img-hover-icons .icon svg {
    width: 1.1em;
}
.card-img-hover-icons .icon:hover {
    background: var(--main-color);
    color: #fff;
}
.product-card-content a{
    font-size: 1.25rem;
    transition: .4s;
    color: black;
}
.product-card-content a:hover{
    color: var(--main-color);
}
.product-card-content-rate {
    display: flex;
    gap: .2em;
}
.product-card-content-rate svg.active  {
    color:var(--rate-color);
}
.product-card-content-rate svg {
    color: rgba(0, 0, 0, 0.5);
}
.product-card-content {
    padding: 1em;
}
.product-card-content-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    
}
.product-card-content-category span {
    background-color: #6c80d811;
    color: var(--main-color);
    font-weight: 500;
}
.product-card-content-price {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    margin-top: 1em;
}
.product-card-content-price-container {
    display: flex;
    align-items: center;
    gap: .3em
}
.product-card-content-price-container strong {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}
.product-card-content-price-container del{
    opacity: .5;
}
.product-card-content-price-container span {
    background-color: #6c80d811;
    color: var(--main-color);
    font-weight: 500;
}
.out-of-stock {
    display: block;
}
.popup-cursor{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: fixed;
    background: var(--rate-color);
    color: white;
    top: 22%;
    right: 28.5%;
    z-index: 20;
    padding: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    cursor: pointer;
}
.popup-cursor:hover{
    background-color: red;
}
.popup{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
}
.show{
    visibility: visible;
    opacity: 1;
}
.popup-container{
    position: relative;
    width: 40%;
    margin: auto;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    gap: 1.5rem;
    transition: .4s;
}
.show-container{
    visibility: visible;
    opacity: 1;
}
.popup-img{
    width: 40%;
    padding: 4rem 0;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: 1rem;
    overflow: hidden;
}
.popup-img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: .4s;
}
.popup-img img:hover{
    scale: 1.3;
}
.popup-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.popup-content h3{
    font-weight: 600;
}
.popup-content .popup-rate{
    display: flex;
    align-items: center;
    gap: 0.3em;
}
.popup-rate svg.active{
    color: var(--rate-color);
}
.popup-content p{
    font-family: 0.8em;
    color: var(--txt-color);
}
.popup-content .price{
    display: flex;
    align-items:center;
    gap: .5rem;
}
.popup-content .price strong{
    color: var(--dark-txt-color);
    font-weight: 700;
    font-weight: bold;
    font-size: 1.4rem;
}
.popup-content .price del{
    color: var(--txt-color);
    font-size: 1.2rem;
}
.weight{
    display: flex;
    align-items:center;
    gap: .5rem;
}
.weight span{
    padding: .05rem .8rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: 3rem;
    cursor: pointer;
    color: var(--dark-txt-color);
}
.weight .active{
    background-color: var(--main-color);
    color: white;
}
.cart-content{
    display: flex;
    gap: .5rem;
}
.counter{
    display: flex;
    align-items:center;
    gap: 1rem;
    width: fit-content;
    padding: .5rem 1rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .7rem;
    color: var(--txt-color);
    font-size: 1.3rem;
}
.counter span{
    cursor: pointer;
}
.add-to-cart-content{
    display: flex;
    align-items:center;
    gap: .6rem;
    width: fit-content;
    padding: .5rem 1rem;
    border: .1rem solid rgba(0, 0, 0, .5);
    border-radius: .7rem;
    color: var(--txt-color);
    cursor: pointer;
    transition: .4s;
}
.add-to-cart-content:hover{
    color: white;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
@media (max-width:1024px) {
    .products-container{
        gap: 1rem;
    }
    .product-card {
        width: calc((100% - 2rem) / 2);
    }
}
@media (max-width:600px) {
    .product-card {
        width: 100%;
    }
}